{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Groupe
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Groupe</h4>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Modifier un groupe</span>
                    <div class="row no-margin">
                        <div class="table-wrapper">
                            <table class="highlight centered responsive-table" id="controls-table">
                                <thead class="small-caps">
                                <tr>
                                    <th>Nom du groupe</th>
                                    <th>Semestre</th>
                                    <th>Edit</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for groupe in listGroupe %}
                                    <tr>
                                        <td>
                                            {{ groupe }}</td>
                                        <td>
                                            {% if groupe.semestre is not null %}
                                                {{ groupe.semestre }}{% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_modify_groupe', {'id': groupe.id}) }}">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="modal-trigger" href="#groupe{{ groupe.id }}">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <div class="modal" id="groupe{{ groupe.id }}">
                                        <div class="modal-content">
                                            <h4>Voulez-vous vraiment supprimer ce groupe ?</h4>
                                            <p>
                                                {{ groupe }}{% if groupe.semestre is not null %}
                                                    du
                                                    {{ groupe.semestre }}{% endif %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('teckmeb_administration_delete_groupe', {'id' : groupe.id}) }}"
                                               class="btn-flat">Oui</a>
                                            <a class="modal-close btn-flat">Non</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            {{ form_start(formAjoutGroupe) }}
            <div class="card-content">
                <span class="card-title">Ajouter un groupe</span>
                <div class="row">
                    {{ form_errors(formAjoutGroupe) }}
                    <div class="input-field col s6 m4 l2">
                        {{ form_widget(formAjoutGroupe.groupName) }}
                        {{ form_label(formAjoutGroupe.groupName, "Nom du groupe") }}
                    </div>
                    <div class="input-field col s12 l4">
                        {{ form_widget(formAjoutGroupe.semestre) }}
                        {{ form_label(formAjoutGroupe.semestre, "Choix du semestre") }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect">Ajouter</button>
            </div>
            {{ form_rest(formAjoutGroupe) }}
            {{ form_end(formAjoutGroupe) }}
        </div>
    </main>
{% endblock %}
