{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <main class="container">
        <h4 class="header center-align">Paramètres</h4>
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    </main>
{% endblock fos_user_content %}
