{% trans_default_domain 'FOSUserBundle' %}
<div class="card grey lighten-5">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="card-content">
        <div class="card-title">Modifier votre mot de passe</div>
        <div class="input-field">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="card-action">
        <input class="btn-flat" type="submit" value="{{ 'change_password.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}
</div>