{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align">Administration</h4>

        <div class="card">
            <div class="card-content">
                <div class="row">
                    <p>Choississez ce que vous voulez administrer</p>
                </div>
                <div class="collection">
                    <a class="collection-item"
                       href="{{ path('teckmeb_administration_parcours_homepage') }}">Parcours</a>
                    <a class="collection-item" href="{{ path('teckmeb_administration_ue_homepage') }}">UE</a>
                    <a class="collection-item" href="{{ path('teckmeb_administration_module_homepage') }}">Module</a>
                    <a class="collection-item" href="{{ path('teckmeb_administration_sujet_homepage') }}">Sujet</a>
                    <a class="collection-item"
                       href="{{ path('teckmeb_administration_semestre_homepage') }}">Semestre</a>
                    <a class="collection-item" href="{{ path('teckmeb_administration_groupe_homepage') }}">Groupe</a>
                    <a class="collection-item" href="{{ path('teckmeb_administration_suivi_student_homepage') }}">Etudiant</a>
                    <a class="collection-item" href="{{ path('teckmeb_administration_suivi_teacher_homepage') }}">Professeur</a>
                    <a class="collection-item" href="{{ path('teckmeb_administration_nettoyer_bd_homepage') }}">Nettoyer
                        la BD</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
