{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% form_theme formAjoutTU "TeckmebAdministrationBundle:Form:fields.html.twig" %}
{% block title %}
    Administration - UE
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>UE</h4>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Modifier une UE</span>
                    <div class="row no-margin">
                        <div class="table-wrapper">
                            <table class="highlight centered responsive-table" id="controls-table">
                                <thead class="small-caps">
                                <tr>
                                    <th>Année</th>
                                    <th>Code</th>
                                    <th>Nom</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for teachingUnit in listTeachingUnit %}
                                    <tr>
                                        <td>
                                            {{ teachingUnit.creationYear }}
                                        </td>
                                        <td>
                                            {{ teachingUnit.teachingUnitCode }}</td>
                                        <td>
                                            {{ teachingUnit.teachingUnitName }}
                                        </td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_modify_tu', {'id': teachingUnit.id}) }}">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Ajouter une UE</span>
                {{ form_start(formAjoutTU) }}
                <div class="row no-margin">
                    {{ form_errors(formAjoutTU) }}
                    <div class="input-field col s6 m4 l3">
                        {{ form_widget(formAjoutTU.teachingUnitCode) }}
                        {{ form_label(formAjoutTU.teachingUnitCode, "Code de l'UE") }}
                    </div>
                    <div class="input-field col s12 l2">
                        {{ form_widget(formAjoutTU.creationYear) }}
                        {{ form_label(formAjoutTU.creationYear, "Date de création") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l8">
                        {{ form_widget(formAjoutTU.teachingUnitName) }}
                        {{ form_label(formAjoutTU.teachingUnitName, "Nom de l'UE") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l8">
                        <span class="card-title">Ajouter les modules</span>
                        <div class="table-wrapper">
                            {{ form_widget(formAjoutTU.modules) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect">Ajouter</button>
            </div>
            {{ form_rest(formAjoutTU) }}
            {{ form_end(formAjoutTU) }}
        </div>
    </main>
{% endblock %}
