{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Oups ..
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <p class="flow-text red-text">Oups ! Cette page n'existe pas</p>

    </main>
{% endblock %}
