{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Oups ..
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <p class="flow-text red-text center-align">{{ status_code }} : {{ status_text }}</p>
    </main>
{% endblock %}
