{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Nettoyer la BD
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Nettoyer la BD</h4>

        <div class="card col s12" id="BD">
            <div class="card-content">
                <span class="card-title">Indications</span>
                <p>Cette fonctionnalité permet de supprimer de la base de données les données qui ne sont plus
                    utilisées</p>
                <p>Pour cela il suffit d'appuyer sur le bouton ci-dessous : il vous sera d'abord affiché un
                    récapitulatif avant la suppression définitive des données</p>
            </div>
            <div class="card-action">
                <a class="btn-flat" href="{{ path('teckmeb_administration_removeBD_affichage') }}">Nettoyer la base de
                    données</a>
            </div>
        </div>
        </div>
    </main>
{% endblock %}
