{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% form_theme form "@TeckmebAdministration/Form/fieldsSubjectListEDT.html.twig" %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/getSubject.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block title %}
    Administration - Groupe
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Professeur déjà enregistré</span>
                <table class="responsive-table striped">
                    <thead>
                    <tr>
                        <th>Code du sujet</th>
                        <th>Nom du professeur</th>
                        <th>Prenom du professeur</th>
                    </tr>
                    </thead>
                    {% for subjectEDT in subjectListEDT.aloneInBD %}
                        <tr>
                            <td>
                                {{ subjectEDT.subjectCode }}
                            </td>
                            <td class="green-text text-darken-2">
                                {{ subjectEDT.userSubject.listUserEDT.0.nom }}
                            </td>
                            <td class="green-text text-darken-2">
                                {{ subjectEDT.userSubject.listUserEDT.0.prenom }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucun professeur en base de donnée
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Professeur pas encore enregistré
                </span>
                <table class="responsive-table striped">
                    <thead>
                    <tr>
                        <th>Code du sujet</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ form_widget(form.alone) }}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span>Choix du professeur
                </span>
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th>Code du sujet</th>
                        <th>Selectionner</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ form_widget(form.many) }}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="center-align">
            <button class="btn">Valider</button>
        </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
