<div id="MarkGroup{{ groupeObj.groupe.id }}" class="col s12">
    <h4 class="header">Notes de
        {{ groupeObj }}</h4>
    {% if groupeObj.moyenne is not null %}
        <p class="flow-text center-align">Moyenne du semestre :
            {{ groupeObj.moyenne|round(2) }}<small>/20</small>
        </p>
        {% for subjectObj in groupeObj.subjectList %}
            {{ include("@TeckmebMark/Page-Content/markSubjectView.html.twig" , {"subjectObj" : subjectObj}) }}
        {% endfor %}
    {% else %}
        <p class="flow-text center-align">Vous ne possédez pas de note pour ce semestre</p>
    {% endif %}
</div>
