{% if subjectObj.moyenne is not null %}
    <div class="card">
        <div class="card-content">
            <div class="card-title row">
                <div class="col s12 m6">
                    <i class="material-icons small left">school</i>
                    <h5>{{ subjectObj.subject }}</h5>
                </div>
                <div class="col s12 m6 right-align">
                    <span>Coefficient : {{ subjectObj.subject.subjectCoefficient }}</span>
                </div>
            </div>
            <div class="divider row"></div>
            <div class="row center-align">
                {% for mark in subjectObj.markList %}
                    {{ include("@TeckmebMark/Page-Content/markMarkView.html.twig" , {"mark" : mark}) }}
                {% endfor %}
            </div>
            <div class="divider clearfix"></div>
            <div class="footer left-align">
                <span class="flow-text">
                    Moyenne : {{ subjectObj.moyenne|round(2) }} <small>/20</small>
                </span>
            </div>
        </div>
    </div>
{% endif %}
