<div class="col {% if isDashboard is defined %}s12 m6 l5{% else %}s12 m6 l3 xl3{% endif %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title truncate activator"
                  title="{{ mark.control.controlName }}">
                {{ mark.control.controlName }}</span>
            <div class="section">
                <p>
                    <b>Note :
                        {{ mark.value ~ "/" ~ mark.control.divisor }}</b>
                </p>
                <p>Coefficient :
                    {{ mark.control.coefficient }}</p>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title truncate">Détails</span>
            <p>Date :
                {{ mark.control.controlDate|date('d/m') }}</p>
            <p>Moyenne :
                {% if mark.control.median is not null %}
                    {{ mark.control.median }}{% else %}Non calculée{% endif %}
            </p>
            <p>Ecart Type :
                {% if mark.control.average is not null %}
                    {{ mark.control.average }}{% else %}Non calculée{% endif %}
            </p>
        </div>
    </div>
</div>
