{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Etudiant
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js'
        'assets/js/Administration/student.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_suivi_student_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Etudiant</h4>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Ajouter des étudients via excel</span>

                <div class="row">
                    <p class="flow-text">Comment faire ?</p>
                    <ul>
                        <li>- Dans un premier temps, vous devez créer le semestre auquel les étudiants et groupes vont
                            appartenir
                            (si le semestre n'existe pas).
                        </li>
                        <li>- Pour cela, il suffit d'aller dans "Administration" et "Semestre" et de remplir les
                            formulaires en
                            début de page.
                        </li>
                        <li>- Une fois que cela est fait, vous devez ajouter votre fichier Excel dans la barre en bas en
                            cliquant
                            dessus, puis cliquer sur "Valider".
                        </li>
                        <li>
                            <a href="{{ asset('assets/excel/Etudiants.xlsx') }}"> - Cliquez ici pour télécharger un
                                fichier Excel
                                d'exemple</a></li>
                    </ul>
                </div>

                <div class="row">
                    <form action="{{ path('teckmeb_administration_gestion') }}" method="post"
                          enctype="multipart/form-data">
                        <div class="row">
                            <div class="file-field input-field col s10">
                                <div class="btn ">
                                    <span>File</span>
                                    <input id="excel" name="excel" type="file"></div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text"></div>
                            </div>
                            <div class="input-field col s2">
                                <button class="btn-flat waves-effect">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </main>
{% endblock %}
