<p>Bonjour {{ content.name }} {{ content.surname }}</p>
<br/>
<p>Un nouveau mot de passe vient de vous être attribué.</p>
<p>Vos identifiants sont les suivants</p>
<br/>
<p>Nom d'utilisateur : {{ content.username }}</p>
<p>Mot de passe : {{ password }}</p>
<br/>
<p>Votre mot de passe peut être changé une fois connecté sur le site en cliquant sur le logo utilisateur de la barre de
    navigation et en cliquant sur votre nom et prénom</p>
<br/>
<p>Cordialement</p>
<p>L'équipe Teckmeb</p>
