{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="input-field col s8 offset-s2 red-text center-align">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
</div>
<div class="row">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="row center-align">
            <div class="input-field col s12 m8 offset-m2">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       autocomplete="username"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required"
                       autocomplete="current-password"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m5 s9 offset-s2 offset-m3">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <span>{{ 'security.login.remember_me'|trans }}</span></label>
            </div>
        </div>
        <div class="row center-align">
            <div class="input-field col s9 offset-s2 m8 offset-m2">
                <input class="btn" type="submit" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </div>
        </div>
    </form>
</div>
