.card-content tbody {
    display:block;
    height:350px;
    overflow:auto;
  }
  .card-content   thead, .card-content  tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  .card-content   thead {
    width: calc( 100% - 1em )
  }
  .card-content   table {
    width:100%;
  }
