{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Etudiant
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_suivi_student_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Etudiant</h4>
        <div class="card">
            {{ form_start(formCreateUser) }}
            {{ form_errors(formCreateUser) }}
            <div class="card-content">
                <span class="card-title">Création d'un étudiant</span>
                <div class="row">
                    <div class="input-field col s6 m4 l6">
                        {{ form_row(formCreateUser.surname) }}
                    </div>
                    <div class="input-field col s6 m4 l6">
                        {{ form_row(formCreateUser.name) }}
                    </div>
                    <div class="input-field col s6 m4 l6">
                        {{ form_row(formCreateUser.username) }}
                    </div>
                    <div class="input-field col s6 m4 l6">
                        {{ form_row(formCreateUser.email) }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect ">Ajouter</button>
                <a class="btn-flat" href="{{ path('teckmeb_administration_suivi_student_homepage') }}">Retour</a>
            </div>
            {{ form_rest(formCreateUser) }}
            {{ form_end(formCreateUser) }}
        </div>
    </main>
{% endblock %}
