{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Etudiant
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js'
        'assets/js/Administration/student.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Etudiant</h4>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Rechercher</span>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="autocomplete1" id="autocomplete-input1" type="text">
                        <label for="autocomplete-input1">Rechercher un étudiant ..</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a class="btn" style="margin-bottom:10px;"
                           href="{{ path('teckmeb_administration_add_student') }}">Ajouter
                            un étudiant</a>
                        <a class="btn" style="margin-bottom:10px;"
                           href="{{ path('teckmeb_administration_excel_homepage') }}">Ajouter via Excel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="list-student">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Etudiants</span>

                    <div class="row">
                        <div class="col s12 table-wrapper">
                            <table class="centered striped" id="tableStudent">
                                <thead>
                                <th>Numéro étudiant</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                </thead>
                                <tbody>
                                {% for student in listStudent %}
                                    <tr idStudent="{{ student.id }}">
                                        <td>
                                            <a href="{{ path('teckmeb_administration_suivi_student', {'id' : student.id}) }}">
                                                {{ student.numStudent }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_suivi_student', {'id' : student.id}) }}">
                                                {{ student.user.name|title }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_suivi_student', {'id' : student.id}) }}">
                                                {{ student.user.surname|title }}</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">Pas d'étudiants</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
