{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
    {% block body %}
        {{ parent() }}
        <main class="container">
            <h4 class="header center-align"><a href="{{ path('teckmeb_administration_suivi_student_homepage') }}">
                    <i class="material-icons ">arrow_back</i>
                </a>Etudiant</h4>
            {{ form_start(formDefineUser) }}
            {{ form_errors(formDefineUser) }}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ student.user.name }}
                        {{ student.user.surname }}</span>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            {{ form_widget(formDefineUser.email) }}
                            {{ form_label(formDefineUser.email, "Email de l'élève") }}
                        </div>
                        <div class="input-field col m6 s12">
                            {{ form_widget(formDefineUser.username) }}
                            {{ form_label(formDefineUser.username, "Numéro étudiant") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            {{ form_widget(formDefineUser.name) }}
                            {{ form_label(formDefineUser.name, "Prénom de l'élève") }}
                        </div>
                        <div class="input-field col m6 s12">
                            {{ form_widget(formDefineUser.surname) }}
                            {{ form_label(formDefineUser.surname, "Nom de l'élève") }}
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button class="btn-flat waves-effect">Valider</button>
                    <a class="btn-flat waves-effect"
                       href="{{ path('teckmeb_administration_password' , {'id' : student.user.id}) }}">Générer un
                        nouveau mot de passe</a>
                </div>
            </div>
            {{ form_rest(formDefineUser) }}
            {{ form_end(formDefineUser) }}
        </main>
    {% endblock %}
