{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Sujet
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons">arrow_back</i>
            </a>Sujet</h4>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Modifier un sujet</span>
                    <div class="row no-margin">
                        <div class="table-wrapper">
                            <table class="highlight centered responsive-table" id="controls-table">
                                <thead class="small-caps">
                                <tr>
                                    <th>Code</th>
                                    <th>Nom</th>
                                    <th>Coefficient</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subject in listSubject %}
                                    <tr>
                                        <td>
                                            {{ subject.subjectCode }}</td>
                                        <td>
                                            {{ subject.subjectName }}</td>
                                        <td>
                                            {{ subject.subjectCoefficient }}</td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_modify_subject', {'id': subject.id}) }}">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            {{ form_start(formAjoutSubject) }}
            <div class="card-content">
                <span class="card-title">Ajouter un sujet</span>
                <div class="row">
                    {{ form_errors(formAjoutSubject) }}
                    <div class="input-field col s6 m4 l2">
                        {{ form_widget(formAjoutSubject.subjectCode) }}
                        {{ form_label(formAjoutSubject.subjectCode, "Code") }}
                    </div>
                    <div class="input-field col s12 l2">
                        {{ form_widget(formAjoutSubject.subjectCoefficient) }}
                        {{ form_label(formAjoutSubject.subjectCoefficient, "Coefficient") }}
                    </div>
                    <div class="input-field col s12 l5">
                        {{ form_label(formAjoutSubject.subjectName, "Nom") }}
                        {{ form_widget(formAjoutSubject.subjectName) }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect">Ajouter</button>
            </div>
            {{ form_rest(formAjoutSubject) }}
            {{ form_end(formAjoutSubject) }}
        </div>
    </main>
{% endblock %}
