{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Sujet
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Administration/administration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
    {% block body %}
        {{ parent() }}
        <main class="container">
            <h4 class="header center-align"><a href="{{ path('teckmeb_administration_sujet_homepage') }}">
                    <i class="material-icons ">arrow_back</i>
                </a>Sujet</h4>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        {{ form_start(form) }}
                        <div class="card-content">
                            <span class="card-title">Modifier un sujet</span>
                            {{ form_errors(form) }}
                            <div class="row">
                                <div class="input-field col s4">
                                    {{ form_row(form.subjectCode) }}
                                </div>
                                <div class="input-field col s4">
                                    {{ form_row(form.subjectName) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    {{ form_row(form.subjectCoefficient) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn-flat">Valider</button>
                            <a class="btn-flat" href="{{ path('teckmeb_administration_homepage') }}">Retour</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
