{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Professeur
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js'
        'assets/js/Administration/student.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_suivi_teacher_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Professeur</h4>
        <div class="card">
            {{ form_start(formCreateTeacher) }}
            {{ form_errors(formCreateTeacher) }}
            <div class="card-content">
                <span class="card-title">Création d'un professeur</span>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        {{ form_row(formCreateTeacher.surname) }}
                    </div>
                    <div class="input-field col s6 m6 l6">
                        {{ form_row(formCreateTeacher.name) }}
                    </div>
                    <div class="input-field col s6 m6 l6">
                        {{ form_row(formCreateTeacher.username) }}
                    </div>
                    <div class="input-field col s6 m6 l6">
                        {{ form_row(formCreateTeacher.email) }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect ">Ajouter</button>
                <a class="btn-flat" href="{{ path('teckmeb_administration_suivi_teacher_homepage') }}">Retour</a>
            </div>
            {{ form_rest(formCreateTeacher) }}
            {{ form_end(formCreateTeacher) }}
        </div>
    </main>
{% endblock %}
