{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Administration - Professeur
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js'
        'assets/js/Administration/teacher.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Professeur</h4>
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="autocomplete2" id="autocomplete-input2" type="text">
                        <label for="autocomplete-input2">Rechercher un professeur ...</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a class="btn" href="{{ path('teckmeb_administration_add_teacher') }}">Ajouter
                            un professeur</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="list-teacher">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Professeurs</span>
                    <div class="row">
                        <div class="col s12 table-wrapper">
                            <table class="centered striped" id="tableTeacher">
                                <thead>
                                <th>Prénom</th>
                                <th>Nom</th>
                                </thead>
                                <tbody>
                                {% for teacher in listTeacher %}
                                    <tr idteacher="{{ teacher.id }}">
                                        <td>
                                            <a href="{{ path('teckmeb_administration_modify_teacher', {'id' : teacher.id}) }}">
                                                {{ teacher.user.name|title }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_modify_teacher', {'id' : teacher.id}) }}">
                                                {{ teacher.user.surname|title }}</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">Pas de professeurs</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
