{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Emploi du temps
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header">Emploi du temps</h4>
        <div class="row">
            <div class="col s12 m10 l8 card grey lighten-5">
                <div class="card-content">
                    <span class="card-title">Trouvez votre numéro de ressource</span>
                    <ol>
                        <li>Accédez à l'emploi du temps de votre groupe sur l'application
                            <a href="http://adelb.univ-lyon1.fr">ADE WEB</a>
                        </li>
                        <li>Cliquez sur l'icône
                            <img src="{{ asset('/assets/images/TimeTable/agenda_export.png') }}" alt="Agenda export"
                                 width="32" height="24">
                            puis
                            <b>Générer URL</b>
                        </li>
                        <li>Copiez l'url générée et collez-la
                            <b>ci-dessous</b>
                        </li>
                        <li>
                            <i class="material-icons">warning</i>
                            Cette opération est à effectuer à chaque changement d'emploi du temps
                        </li>
                    </ol>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="input-field">
                        {{ form_widget(form.resource) }}
                        {{ form_label(form.resource, "Collez ici l'url ou le numéro de ressource") }}
                    </div>
                </div>
                <div class="card-action">
                    <button class="waves-effect btn-flat" type="submit">Envoyer l'url</button>
                    {% if Retour is defined %}
                        <a href="{{ path('teckmeb_time_table_view') }}"
                           class="btn-flat waves-effect">Retour</a>
                    {% endif %}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
    {% for message in app.session.flashbag.get('info') %}
        <script>
            M.toast({html: '{{ message }}'});
        </script>
    {% endfor %}
{% endblock %}