{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Emploi du temps
{% endblock %}
{% block style %}
    {{ parent () }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/TimeTable/timetable.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
    {% block body %}
        {{ parent() }}
        <h4 class="center-align">Emploi du temps</h4>
        <div class='row hide-on-small-only'>
            <div class="col s1">
                <div class="center-align">
                    <a href="{{ path('teckmeb_time_table_view', {'date':datePrec}) }}">
                        <i class="material-icons medium">keyboard_arrow_left</i>
                    </a>
                </div>
            </div>
            <div class='col s10'>
                <table class="centered">
                    <thead>
                    <tr>
                        {% for date in timetableDTO.dayDTOList %}
                            <th>
                                {{ translateDate(date.day) }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if not timetableDTO.asContent %}
                        <tr>
                            <td colspan="5" rowspan="5">
                                <p class="flow-text">Aucun cours cette semaine</p>
                            </td>
                        </tr>
                    {% else %}

                        {% for i in 0..19 %}
                            <tr>
                                {% for date in timetableDTO.dayDTOList %}
                                    {% if date.listHoraire[i].isActif %}
                                        {% if date.listHoraire[i].isPrimary %}
                                            {{ include("@TeckmebTimeTable/Timetable-Views/timetable-item.html.twig" , { "coursDTO" : date.listHoraire[i].coursDTO}) }}
                                        {% endif %}
                                    {% else %}
                                        <td rowspan="1"
                                            style="width:275px;height:25px;border-bottom:solid 1px rgba(0, 0, 0, 0.12);"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col s1">
                <div class="center-align">
                    <a href="{{ path('teckmeb_time_table_view', {'date':dateSuiv}) }}">
                        <i class="material-icons medium">keyboard_arrow_right</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="center-align row hide-on-small-only">
            <a class="btn-flat" href="{{ path('teckmeb_time_table_modify') }}">Modifier</a>
            <a class="btn-flat" href="{{ path('teckmeb_time_table_view') }}">Aujourd'hui</a>
        </div>
        <div class="row hide-on-med-and-up">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="center-align row">
                            <a class="btn-flat" href="{{ path('teckmeb_time_table_modify') }}">Modifier</a>
                            <a class="btn-flat" href="{{ path('teckmeb_time_table_view') }}">Aujourd'hui</a>
                        </div>
                        <div class="row">
                            <a href="{{ path('teckmeb_time_table_view', {'date':datePrec}) }}" class="left">
                                <i class="material-icons medium">keyboard_arrow_left</i>
                            </a>
                            <a href="{{ path('teckmeb_time_table_view', {'date':dateSuiv}) }}" class="right">
                                <i class="material-icons medium">keyboard_arrow_right</i>
                            </a>
                        </div>
                        <table class="centered">
                            {% if not timetableDTO.asContent %}
                                    <tr>
                                        <th class="flow-text center-align">Semaine du {{ translateDate(timetableDTO.dayDTOList.0.day, 1) }} au {{ translateDate(timetableDTO.dayDTOList[timetableDTO.nbJour - 1].day, 1) }}</th>
                                    </tr>
                                    <tr>
                                        <td class="flow-text">Pas de cours cette semaine</td>
                                    </tr>
                            {% else %}
                                {% for date in timetableDTO.dayDTOList %}
                                    <tr>
                                        <th class="center-align flow-text">
                                            {{ translateDate(date.day , 0) }}
                                        </th>
                                    </tr>
                                    {% if date.asContent %}
                                        {% for horaire in date.listHoraire %}
                                            {% if horaire.isActif and horaire.isPrimary %}
                                                <tr>
                                                    {{ include("@TeckmebTimeTable/Timetable-Views/timetable-item-mobile.html.twig" , {"coursDTO" : horaire.coursDTO}) }}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="flow-text">Pas de cours</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </table>
                        <br/>
                        <div class="row">
                            <a href="{{ path('teckmeb_time_table_view', {'date':datePrec}) }}" class="left">
                                <i class="material-icons medium">keyboard_arrow_left</i>
                            </a>
                            <a href="{{ path('teckmeb_time_table_view', {'date':dateSuiv}) }}" class="right">
                                <i class="material-icons medium">keyboard_arrow_right</i>
                            </a>
                        </div>
                        <div class="center-align">
                            <a class="btn-flat" href="{{ path('teckmeb_time_table_modify') }}">Modifier</a>
                            <a class="btn-flat" href="{{ path('teckmeb_time_table_view') }}">Aujourd'hui</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
