<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="{{ path('teckmeb_dashboard_homepage') }}" class="brand-logo">Teckmeb<span
                    class="badge-perso">BETA</span></a>
    </div>
</nav>
