{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Absences
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Absence/view.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    {% if listGroupeDTO.listGroupe | length > 0 %}
    {{ include("TeckmebDashboardBundle::navbarExtend.html.twig") }}
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            {% for groupe in listGroupeDTO.listGroupe %}
                <li class="tab">
                    <a {% if loop.last %} class="active" {% endif %} href="#{{ loop.index }}">
                        {{ groupe.groupe }} {{ groupe.groupe.semestre }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </nav>
    <main class="container">
        {% for groupe in listGroupeDTO.listGroupe %}
            <div id="{{ loop.index }}" class="col s12">
                <h4>Absences de
                    {{ groupe.groupe.semestre }}</h4>

                <div class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <table class="centered striped">
                                <thead>
                                <th>Date</th>
                                <th>Horaires</th>
                                <th>Type</th>
                                <th>Justification</th>
                                </thead>
                                <tbody>
                                {% for absence in groupe.listAbsence %}
                                    <tr class="{% if absence.justified %}green{% else %}red{% endif %}-text">
                                        <td>
                                            {{ absence.beginDate|date('d/m/Y') }}</td>
                                        <td>
                                            {{ absence.beginDate|date('H:i') }}
                                            -
                                            {{ absence.endDate|date('H:i') }}</td>
                                        <td>
                                            {{ absence.absenceType.absenceTypeName }}</td>
                                        <td>
                                            {% if absence.justified %}Justifiée{% else %}Non justifiée{% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">Pas d'absences ce semestre</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
    {% else %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align">Absences</h4>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Vos absences</span>
                <p class="center-align">Vous n'appartenez pas encore à un groupe</p>
            </div>
        </div>
    </main>
    {% endif %}
{% endblock %}
