{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Absences
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Absence/viewAll.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align">
            <a href="{{ path('teckmeb_absence_homepage') }}">
                <i class="material-icons">arrow_back</i>
            </a>
            Modifier les absences</h4>
        <div class="row">
            <div class="card col s12">
                <div class="card-content">
                    <span class="card-title">Rechercher</span>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input class="autocomplete" id="autocomplete-input" type="text">
                            <label for="autocomplete-input">Rechercher une absence ...</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <form action="#" method="POST">
                    <div class="card-content">
                        <span class="card-title">Filtrer les absences</span>
                        <div class="row">
                            <div class="col l6 s12">
                                <label for="dateDebut">Date de début</label>
                                <input id="dateDebut" name="dateDebut" type="text"
                                       class="datepicker" {% if dateDebut is defined %} value="{{ dateDebut }}" {% endif %}>
                            </div>
                            <div class="col l6 s12">
                                <label for="dateFin">Date de fin</label>
                                <input id="dateFin" name="dateFin" type="text"
                                       class="datepicker" {% if dateFin is defined %} value="{{ dateFin }}" {% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn-flat">Valider</button>
                        <a class="btn-flat" href="{{ path('teckmeb_absence_viewAll') }}">Remise à zéro</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="card col s12">
            <div class="card-content">
                <span class="card-title">
                    Absences
                </span>
                <div class="row">
                    <table class="responsive-table centered striped" id="absence">
                        <thead>
                        <th>Numéro étudiant</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date</th>
                        <th>Heure début</th>
                        <th>Heure fin</th>
                        <th>Type</th>
                        <th>Groupe</th>
                        <th>
                            <a class="tooltipped" data-position="top"
                               data-tooltip="Cliquez pour changer la justification">Justifié</a>
                        </th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                        </thead>
                        <tbody>
                        {% for absence in listAbsence %}
                            {% if absence.groupe.semestre.active %}
                                <tr>
                                    <td>{{ absence.student.user.username|title }}</td>
                                    <td>{{ absence.student.user.surname }}</td>
                                    <td>{{ absence.student.user.name|title }}</td>
                                    <td>{{ absence.beginDate|date('d/m/Y') }}</td>
                                    <td>{{ absence.beginDate|date('H:i') }}</td>
                                    <td>{{ absence.endDate|date('H:i') }}</td>
                                    <td>{{ absence.absenceType.absenceTypeName }}</td>
                                    <td>{{ absence.groupe }}</td>
                                    <td><a class=" tooltipped modal-trigger" data-target="justification{{ absence.id }}"
                                           data-position="top"
                                           data-tooltip="{% if absence.justified %}Injustifier l'absence{% else %}Justifier l'absence{% endif %}">{% if not absence.justified %}Non justifié{% else %}Justifié{% endif %}</a></td>
                                    <td><a href="{{ path('teckmeb_absence_modify', {'id': absence.id}) }}"><i class="material-icons">edit</i></a></td>
                                    <td><a href="#delete{{ absence.id }}" class="modal-trigger"><i class="material-icons">delete</i></a></td>
                                </tr>
                                <div id="delete{{ absence.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Voulez-vous vraiment supprimer l'absence ?</h4>
                                        <p>
                                            De {{ absence.student.user.username|title }} {{ absence.student.user.surname }} {{ absence.student.user.name|title }}
                                            du {{ absence.groupe }}</p>
                                        <p>De type {{ absence.absenceType.absenceTypeName }}</p>
                                        <p>Du {{ absence.beginDate|date('d/m/Y') }}
                                            - {{ absence.beginDate|date('H:i') }}</p>
                                        <p>Au {{ absence.endDate|date('d/m/Y') }}
                                            - {{ absence.endDate|date('H:i') }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('teckmeb_absence_delete', {'id': absence.id}) }}"
                                           class="btn-flat">Oui</a>
                                        <a class="modal-close btn-flat">Non</a>
                                    </div>
                                </div>
                                <div class="modal" id="justification{{ absence.id }}">
                                    <div class="modal-content">
                                        <h4>Voulez-vous vraiment
                                            {% if absence.justified %}injustifier{% else %}justifier{% endif %}
                                            cette absence ?</h4>
                                        <p>Étudiant :{{ absence.student.numStudent }}
                                            {{ absence.student.user.name|title }}
                                            {{ absence.student.user.surname|title }}</p>
                                        <p>Du
                                            {{ absence.beginDate|date('d/m/Y') }}
                                            de
                                            {{ absence.beginDate|date('H:i') }}
                                            à
                                            {{ absence.endDate|date('H:i') }}</p>
                                        <p>Groupe :
                                            {{ absence.groupe }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('teckmeb_absence_modify_justification', {'id' : absence.id}) }}"
                                           class="modal-close waves-effect btn-flat">Oui</a>
                                        <a class="modal-close waves-effect btn-flat">Non</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="11">Pas d'absences</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
