<div class="card hoverable">
    <a class="black-text" href="{{ path('teckmeb_ptut_homepage') }}">
        <div class="card-content">
            <span class="card-title">Rendez-vous à valider</span>

            {% if appointement is defined and appointement|length > 0 %}
            <table class="centered highlight">
                <thead>
                <th>Nom du Ptut</th>
                <th>Date</th>
                <th>Valider</th>
                </thead>
                <tbody>
                    {% for appoint in appointement %}
                        <tr>
                            <td>
                                <a class="black-text"
                                   href="{{ path('teckmeb_ptut_view' , {'id' : appoint.ptut.id }) }}">
                                    {{ appoint.ptut.name }}</a>
                            </td>
                            <td>
                                <a class="black-text"
                                   href="{{ path('teckmeb_ptut_view' , {'id' : appoint.ptut.id }) }}">
                                    {{ appoint.date|date('d/m/Y') }} - {{ appoint.date|date('H:i') }}</a>
                            </td>
                            <td>
                                <a class="btn" href="{{ path('teckmeb_ptut_valide_app' , {'id' : appoint.id }) }}">
                                    <i class="material-icons">check</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% else %}
                    <p class="center-align"> Vous n'avez pas de rendez-vous</p>
                {% endif %}
        </div>
    </a>
</div>
