<div class="card hoverable">
    <a class="black-text" href="{{ path('teckmeb_control_homepage') }}">
        <div class="card-content">
            <span class="card-title">Controles</span>
                {% if listControl is defined and listControl | length > 0 %}

                    <div class="row">
                        {% for control in listControl %}
                            <div class="col s12 m6 l6">
                                <div class="card-panel">
                                    <div class="card-content">
                                    <span class="card-title center-align">
                                        {{ control.controlName }}
                                    </span>
                                        <p class="center-align">{% if control.education is not null %}{{ control.education.groupe }}{% else %}{{ control.promo.semestre }}{% endif %}</p>
                                        <p class="center-align">{{ control.controlDate|date('d/m/Y') }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="center-align">Vous n'avez pas de contrôle</p>
                {% endif %}
        </div>
    </a>
</div>
