<div class="card hoverable">
    <a href="{{ path('teckmeb_time_table_view') }}">
        <div class="card-content black-text">
            <span class="card-title">Emploi du temps</span>
            {% if timetableDTO is defined and timetableDTO is not null %}
                <table class="centered">
                    <thead>
                    <tr>
                        <th>{{ translateDate(timetableDTO.dayDTOList[0].day , 0) }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if not timetableDTO.asContent %}
                        <tr>
                            <td>Pas cours</td>
                        </tr>
                    {% else %}
                        {% for horaire in timetableDTO.dayDTOList[0].listHoraire %}
                            <tr>
                                {% if horaire.isActif and horaire.isPrimary %}
                                    {{ include('@TeckmebTimeTable/Timetable-Views/timetable-item-mobile.html.twig' , {"coursDTO" : horaire.coursDTO}) }}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            {% else %}
                <p>L'emploi du temps n'a pas été enregistré</p>
            {% endif %}
        </div>
    </a>
</div>