{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <h4 class="header center-align">Tableau de bord</h4>
    </div>
    {% if is_granted('ROLE_SECRETARIAT') %}
        <div class="row">
            <div class="col s12 l6">
                <div class="col s12">
                    {{ include("TeckmebDashboardBundle:Dashboard:semestre.html.twig") }}
                </div>
                <div class="col s12">
                    {{ include("TeckmebDashboardBundle:Dashboard:secretariat_absence.html.twig") }}
                </div>
            </div>
            <div class="col s12 l6">
                {{ include("TeckmebDashboardBundle:Dashboard:groupes.html.twig") }}
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ETUDIANT') %}
        <div class="row">
            {% if getValideForController('Timetable') %}
                <div class="col s12 l3">
                    <div class="row">
                        <div class="col s12">
                            {{ include("TeckmebDashboardBundle:Dashboard:dashboard_timetable.html.twig") }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col s12 l9">
                <div class="row">
                    <div class="col s12 l6">
                        {% if getValideForController('AbsenceEtudiant') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:absence.html.twig") }}
                            </div>
                        {% endif %}
                        {% if getValideForController('Mark') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:note.html.twig") }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col s12 l6">
                        {% if getValideForController('Ptut') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:ptut.html.twig") }}
                            </div>
                        {% endif %}
                        {% if getValideForController('Question') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:question.html.twig") }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_TEACHER') %}
        <div class="row">
            {% if getValideForController('Timetable') %}
                <div class="col s12 l3">
                    {{ include("TeckmebDashboardBundle:Dashboard:dashboard_timetable.html.twig") }}
                </div>
            {% endif %}
            <div class="col s12 l9">
                <div class="row">
                    <div class="col s12 l6">
                        {% if getValideForController('Question') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:question.html.twig") }}
                            </div>
                        {% endif %}
                        {% if getValideForController('Control') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:control.html.twig") }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col s12 l6">
                        {% if getValideForController('Ptut') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:appointment.html.twig") }}
                            </div>
                        {% endif %}
                        {% if getValideForController('Ptut') %}
                            <div class="col s12">
                                {{ include("TeckmebDashboardBundle:Dashboard:ptut_teacher.html.twig") }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMINISTRATEUR') %}
    {% endif %}
{% endblock %}