<div class="card hoverable">
    <a class="black-text" href="{{ path('teckmeb_administration_groupe_homepage') }}">
        <div class="card-content">
            <span class="card-title">Groupe actif</span>
            {% if listGroupe is defined and listGroupe | length > 0 %}
                <table class="centered highlight striped">
                    <thead>
                    <th>Nom</th>
                    </thead>
                    <tbody>
                    {% for groupe in listGroupe %}
                        <tr>
                            <td>
                                <a class="black-text"
                                   href="{{ path('teckmeb_administration_modify_groupe' , {id : groupe.id}) }}">
                                    {{ groupe }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="center-align">
                    Il n'y a pas de groupe en cours
                </p>
            {% endif %}
        </div>
    </a>
</div>
