<div class="card hoverable">
    <div class="card-content">
        <span class="card-title">
            <a href="{{ path('teckmeb_mark_view') }}">Notes</a>
        </span>
            {% if retourMark is defined %}
                {% for mark in retourMark %}
                    <div class="row">
                        {{ include("@TeckmebMark/Page-Content/markMarkView.html.twig" , {"mark" : mark , "isDashboard" : 1}) }}
                    </div>
                {% else %}
                    <p class="center-align">Vous ne possédez pas encore de notes</p>
                {% endfor %}
            {% else %}
                <p class="center-align">Vous ne possédez pas encore de notes</p>
            {% endif %}
    </div>
</div>
