<div class="card hoverable">
    <a class="black-text" href="{{ path('teckmeb_ptut_homepage') }}">
        <div class="card-content">
            <span class="card-title">PTUT</span>
            {% if retourPtut is defined and retourPtut|length > 0 %}
            <table class="centered highlight">
                <thead>
                <th>Nom</th>
                <th>Professeur</th>
                <th>Validé</th>
                </thead>
                <tbody>
                    {% for ptut in retourPtut %}
                        <tr>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_ptut_view' , {'id' : ptut.id }) }}">
                                    {{ ptut.name }}</a>
                            </td>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_ptut_view' , {'id' : ptut.id }) }}">
                                    {{ ptut.teacher }}</a>
                            </td>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_ptut_view' , {'id' : ptut.id }) }}">
                                    {% if ptut.valide %}Oui{% else %}Non{% endif %}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="center-align">Vous n'avez pas de PTUT</p>
            {% endif %}
        </div>
    </a>
</div>
