<div class="card hoverable">
    <a class="black-text" href="{{ path('teckmeb_ptut_homepage') }}">
        <div class="card-content">
            <span class="card-title">PTUT</span>
            {% if listPtutNonValide is defined and listPtutNonValide|length > 0 %}
                <table class="centered highlight">
                    <thead>
                    <th>Nom</th>
                    <th>Valider</th>
                    </thead>
                    <tbody>
                    {% for ptut in listPtutNonValide %}
                        <tr>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_ptut_view' , {'id' : ptut.id }) }}">
                                    {{ ptut.name }}</a>
                            </td>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_ptut_validate' , {'id' : ptut.id }) }}">
                                    <i class="material-icons">check</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="center-align">Vous n'avez pas de ptut a valider</p>
            {% endif %}
        </div>
    </a>
</div>
