<div class="card hoverable">
    <a class="black-text" href="{{ path('teckmeb_absence_homepage') }}">
        <div class="card-content">
            <span class="card-title">Dernières absences</span>
            {% if listAbsence is defined and listAbsence|length > 0 %}
                <table class="centered highlight striped">
                    <thead>
                    <th>Nom</th>
                    <th>Groupe</th>
                    <th>Date</th>
                    </thead>
                    <tbody>
                    {% for absence in listAbsence %}
                        <tr>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_absence_modify' , {id : absence.id}) }}">
                                    {{ absence.student }}
                                </a>
                            </td>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_absence_modify' , {id : absence.id}) }}">
                                    {{ absence.groupe }}
                                </a>
                            </td>
                            <td>
                                <a class="black-text" href="{{ path('teckmeb_absence_modify' , {id : absence.id}) }}">
                                    {{ absence.beginDate|date('d/m/Y') }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="center-align">Il n'y a pas encore d'absence</p>
            {% endif %}
        </div>
    </a>
</div>
