<div class="card hoverable">
    <a class="black-text" href="{{ path('teckmeb_administration_semestre_homepage') }}">
        <div class="card-content">
            <span class="card-title">Semestre en cours</span>
            {% if listSemestre is defined and listSemestre | length > 0 %}
                <table class="centered highlight striped">
                    <thead>
                    <th>Nom</th>
                    <th>Debut</th>
                    <th>Fin</th>
                    </thead>
                    <tbody>
                    {% for semestre in listSemestre %}
                        <tr>
                            <td>
                                <a class="black-text"
                                   href="{{ path('teckmeb_administration_modify_semestre' , {id : semestre.id}) }}">
                                    {{ semestre }}
                                </a>
                            </td>
                            <td>
                                <a class="black-text"
                                   href="{{ path('teckmeb_administration_modify_semestre' , {id : semestre.id}) }}">
                                    {{ semestre.beginDate|date('d/m/Y') }}
                                </a>
                            </td>
                            <td>
                                <a class="black-text"
                                   href="{{ path('teckmeb_administration_modify_semestre' , {id : semestre.id}) }}">
                                    {{ semestre.endDate|date('d/m/Y') }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="center-align">
                    Il n'y a pas de semestre en cours
                </p>
            {% endif %}
        </div>
    </a>
</div>
