{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Admin - Modules
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4>Modules</h4>
        {% for controller in listController %}
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ controller.nomNavbar }}</span>
                        <div class="row">
                            <div class="col s12 l8">
                                <p class="flow-text">Nom du bundle :
                                    {{ controller.nomBundle }}</p>
                                <p class="flow-text">Nom du controller :
                                    {{ controller.nomController }}</p>
                                <p class="flow-text">Nom de la route :
                                    {{ controller.nomRoute }}</p>
                            </div>
                            <div class="switch col s12 center-align l4">
                                <label>
                                    Off
                                    <input type="checkbox" {% if controller.valide %} checked {% endif %} disabled>
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="btn-flat" href="{{ path('teckmeb_module_edit' , {id : controller.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}