{%- block collection_widget -%}
    {%- for child in form %}
        <tr>
        {% if child.children["userSubject"].children["listUserEDT"].children|length > 1 %}
            {% set ismany = 1 %}
            <td rowspan="{{ child.children["userSubject"].children["listUserEDT"].children|length }}">{{ child.vars.data.subjectCode }}</td>
            {% for user in child.children["userSubject"].children["listUserEDT"].children %}
                {% if not loop.first %}
                    <tr>
                {% endif %}
                {{ block("user_widget") }}
                </tr>
            {% endfor %}
        {% else %}

            <td>{{ child.vars.data.subjectCode }}</td>
            {% set user = child.children["userSubject"].children["listUserEDT"].children.0 %}
            {% set ismany = 0 %}
            {{ block("user_widget") }}
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="5">Aucun professeur
            </td>
        </tr>
    {% endfor -%}
{%- endblock collection_widget -%}

{%- block user_widget -%}
    {% if ismany %}
        <td class="center-align">

            {{ form_widget(user.children["isGood"] , {"name" : child.vars.data.subjectCode}) }}
        </td>
    {% endif %}
    <td class="{% if user.vars.data.isInBD %}green{% else %}red{% endif %}-text text-darken-2">{{ user.vars.data.nom }}</td>
    <td class="{% if user.vars.data.isInBD %}green{% else %}red{% endif %}-text text-darken-2">{{ user.vars.data.prenom }}</td>
    <td>{% if not user.vars.data.isInBD %}{{ form_widget(user.children["mail"]) }}{% else %}{{ user.vars.data.mail }}{% endif %}</td>
{%- endblock user_widget -%}

{%- block radio_widget -%}<label>
    <input
            type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /><span>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</span>
    </label>
{%- endblock radio_widget -%}
