<div class="card">
    <div class="card-content">
        <span class="card-title">Absences</span>
        <p>Nombre d'absence justifié : {{ absence.nbJustifie }}</p>
        <p>Nombre d'absence non justifié : {{ absence.nbNonJustifie }}</p>
    </div>
</div>
