<li class="collection-item mark-view">
    <span>{{ mark.control.controlName }} - {{ mark.control.controlDate | date("d/m/Y") }} - {{ mark.control.coefficient }}</span>
    <span>
        <p>Eleve : {{ mark.value|round(3, 'common') }}<small>/{{ mark.control.divisor }}</small></p>
        <p>Groupe : {{ mark.control.median|round(3, 'common') }}<small>/{{ mark.control.divisor }}</small></p>
    </span>
</li>
