<p>Elève : {% if moyenne.moyenneEleve is not null %}{{ moyenne.moyenneEleve|round(2, 'common') }}<small>/20</small>{% else %}Pas de notes{% endif %}</p><p> Groupe : {% if moyenne.moyenneGroupe is not null %}{{ moyenne.moyenneGroupe|round(2, 'common') }}<small>/20</small>{% else %}Pas de notes{% endif %}</p>
