<li>
    <div class="collapsible-header subject-header">
        <span>
            {{ subject.subject }} - {{ subject.subject.subjectCoefficient }}
        </span>
        <span>
            {{ include("@TeckmebSuivi/Suivi-Content/moyenne.html.twig" , { "moyenne" : subject.moyenne}) }}
        </span>
    </div>
    {% if subject.listMark|length > 0 %}
        <div class="collapsible-body">
            <ul class="collection">
                {% for mark in subject.listMark %}
                    {{ include("@TeckmebSuivi/Suivi-Content/mark.html.twig" , {"mark" : mark}) }}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</li>
