<div class="card">
    <div class="card-content">
        <span class="card-title">
            {{ ue.ue }}
        </span>
        <div class="right-align">
            {{ include("@TeckmebSuivi/Suivi-Content/moyenne.html.twig" , { "moyenne" : ue.moyenne}) }}
        </div>
        <ul class="collapsible expandable">
            {% for subject in ue.subjectList %}
            {{ include("@TeckmebSuivi/Suivi-Content/subject.html.twig" , {"subject" : subject}) }}
            {% endfor %}
        </ul>
    </div>
</div>
