{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% form_theme formAjoutModule "TeckmebAdministrationBundle:Form:fields.html.twig" %}
{% block title %}
    Administration - Module
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Module</h4>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Modifier un module</span>
                    <div class="row no-margin">
                        <div class="table-wrapper">
                            <table class="highlight centered responsive-table" id="controls-table">
                                <thead class="small-caps">
                                <tr>
                                    <th>Code</th>
                                    <th>Nom</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for module in listModule %}
                                    <tr>
                                        <td>
                                            {{ module.moduleCode }}
                                        </td>
                                        <td>
                                            {{ module.moduleName }}</td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_modify_module', {'id': module.id}) }}">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Ajouter un module</span>
                {{ form_start(formAjoutModule) }}
                <div class="row no-margin">
                    {{ form_errors(formAjoutModule) }}
                    <div class="input-field col s6 m4 l3">
                        {{ form_widget(formAjoutModule.moduleCode) }}
                        {{ form_label(formAjoutModule.moduleCode, "Code du module") }}
                    </div>
                    <div class="input-field col s12 l8">
                        {{ form_widget(formAjoutModule.moduleName) }}
                        {{ form_label(formAjoutModule.moduleName, "Nom du module") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l8">
                        <span class="card-title">Ajouter les sujets</span>
                        <div class="table-wrapper">
                            {{ form_widget(formAjoutModule.subjects) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect">Ajouter</button>
            </div>
            {{ form_rest(formAjoutModule) }}
            {{ form_end(formAjoutModule) }}
        </div>
    </main>
{% endblock %}
