<td class="hoverable" rowspan='{{ coursDTO.duree }}'
    style='background-color:{{ coursDTO.color }};height :{{ coursDTO.duree * 25 }}px;width:275px;border-bottom:solid 1px rgba(0, 0, 0, 0.12);'>
    <p style="font-size:9pt;">
        {{ coursDTO.cours }}<br>
        {% if coursDTO.description != " " %}
        {{ coursDTO.description }}<br>
        {% endif %}
        {{ coursDTO.location }}<br>
        {{ coursDTO.groupes }}</p>
</td>
