<td class="hoverable" rowspan=''
    style='background-color:{{ coursDTO.color }};border-bottom-style:hidden;'>
    <p class="left-align">
        {{ coursDTO.dateDebut | date("H:i") }}</p>
    <p class="flow-text" style="font-size:9pt;">
        {{ coursDTO.cours }}<br>
        {% if coursDTO.description != " " %}
            {{ coursDTO.description }}<br>
        {% endif %}
        {{ coursDTO.location }}<br>
        {{ coursDTO.groupes }}</p>
    <p class="left-align">
        {{ coursDTO.dateFin | date("H:i") }}</p>
</td>
