<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}TECKMEB - Page d'acceuil{% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon/favicon.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ asset('favicon/favicon-32.png') }}" type="image/png">
    <link rel="icon" sizes="64x64" href="{{ asset('favicon/favicon-64.png') }}" type="image/png">
    <link rel="icon" sizes="96x96" href="{{ asset('favicon/favicon-96.png') }}" type="image/png">
    <link rel="icon" sizes="196x196" href="{{ asset('favicon/favicon-196.png') }}" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-touch-icon-144x144.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('favicon/favicon-144.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/materialize.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    {% javascripts filter='?jsqueeze' 'assets/js/Materialize/materialize.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<body>
{% block style %}{% endblock %}
{% block body %}{% endblock %}
</body>
{% block script %}{% endblock %}
{% for message in app.session.flashbag.get('info') %}
    <script>
        M.toast({html: '{{ message }}'});
    </script>
{% endfor %}

</html>
