{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% form_theme formAjoutParcours "TeckmebAdministrationBundle:Form:fields.html.twig" %}
{% block title %}
    Administration - Parcours
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Parcours</h4>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Modifier un parcours</span>
                    <div class="row no-margin">
                        <div class="table-wrapper">
                            <table class="highlight centered responsive-table" id="controls-table">
                                <thead class="small-caps">
                                <tr>
                                    <th>ID</th>
                                    <th>Type semestre</th>
                                    <th>Année d'application</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in listCourse %}
                                    <tr>
                                        <td>
                                            {{ course.id }}</td>
                                        <td>
                                            {{ course.courseType.name }}</td>
                                        <td>
                                            {{ course.creationYear }}</td>
                                        <td>
                                            <a href="{{ path('teckmeb_administration_modify_ue', {'id': course.id}) }}">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title">Ajouter un parcours</span>
                {{ form_start(formAjoutParcours) }}
                <div class="row no-margin">
                    {{ form_errors(formAjoutParcours) }}
                    <div class="input-field col s6 m4 l3">
                        {{ form_widget(formAjoutParcours.creationYear) }}
                        {{ form_label(formAjoutParcours.creationYear, "Année d'entrée en application") }}
                    </div>
                    <div class="input-field col s12 l2">
                        {{ form_widget(formAjoutParcours.courseType) }}
                        {{ form_label(formAjoutParcours.courseType, "Type de semestre") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l8">
                        <span class="card-title">Ajouter les UE</span>
                        {{ form_widget(formAjoutParcours.teachingUnits) }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect">Ajouter</button>
            </div>
            {{ form_rest(formAjoutParcours) }}
            {{ form_end(formAjoutParcours) }}
        </div>
    </main>
{% endblock %}
