{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% form_theme formAjoutSemestre "TeckmebAdministrationBundle:Form:fields2.html.twig" %}
{% block title %}
    Administration - Semestre
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        'assets/js/Administration/administration.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Administration/administration.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align"><a href="{{ path('teckmeb_administration_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Semestre</h4>

        <div class="card">
            <div class="card-content">
                <span class="card-title">Modifier un semestre</span>
                <div class="row no-margin">
                    <div class="table-wrapper">
                        <table class="highlight centered responsive-table" id="controls-table">
                            <thead class="small-caps">
                            <tr>
                                <th>Année scolaire</th>
                                <th>Type de semestre</th>
                                <th>Groupes</th>
                                <th>Modifier</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for semestre in listSemestre %}
                                <tr>
                                    <td>
                                        {{ semestre.schoolYear }}</td>
                                    <td>
                                        {{ semestre.course.courseType.name }}
                                        {% if semestre.delay %} - Décalé{% endif %}
                                    </td>
                                    <td>
                                        {% for groupe in semestre.groupes %}
                                            {{ groupe.groupName.choixName }}
                                            {% if not loop.last %}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{ path('teckmeb_administration_modify_semestre', {'id': semestre.id}) }}">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            {{ form_start(formAjoutSemestre) }}
            <div class="card-content">
                <span class="card-title">Ajouter un semestre</span>
                <div class="row">
                    {{ form_errors(formAjoutSemestre) }}
                    <div class="input-field col s6 m4 l2">
                        {{ form_widget(formAjoutSemestre.schoolYear) }}
                        <label>
                            {{ form_label(formAjoutSemestre.schoolYear, "Année d'étude") }}</label>
                    </div>
                    <div class="input-field col s12 l2">
                        {{ form_widget(formAjoutSemestre.course) }}
                        <label>
                            {{ form_label(formAjoutSemestre.course, "Choix du parcours") }}</label>
                    </div>
                    <div class="input-field col s12 l1">
                        <label>
                            {{ form_widget(formAjoutSemestre.delay) }}
                            <span>
                                    {{ form_label(formAjoutSemestre.delay, "Décalé") }}</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l3">
                        {{ form_row(formAjoutSemestre.beginDate) }}
                    </div>
                    <div class="input-field col s12 m6 l3">
                        {{ form_row(formAjoutSemestre.endDate) }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect">Ajouter</button>
            </div>
            {{ form_rest(formAjoutSemestre) }}
            {{ form_end(formAjoutSemestre) }}
        </div>
    </main>
{% endblock %}
