{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Contrôles
{% endblock %}
    {% block body %}
        {{ parent() }}
        <main class="container">
            <h4 class="header center-align">
                <a href="{{ path('teckmeb_mark_edit' , {'id' : control.id}) }}">
                    <i class="material-icons">arrow_back</i>
                </a>
                {{ control.controlName }}</h4>
            <form method="post" action="{{ path('teckmeb_mark_edit_excel', {'id': control.id}) }}"
                  enctype="multipart/form-data">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {% if control.education %}
                                {{ control.education.educationName }}{% else %}
                                {{ control.promo.promoName }}{% endif %},
                            le
                            {{ control.controlDate|date('d/m') }}</span>
                        <div class="row">
                            <div class="col s3 center-align">
                                <a href="{{ path('teckmeb_mark_get_excel' , {"id" : control.id}) }}" class="btn-flat">Récupérer
                                    un Excel avec les étudiants</a>
                            </div>
                            <div class="file-field input-field col s6">
                                <div class="btn">
                                    <span>File</span>
                                    <input id="excel" name="excel" type="file" required></div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn-flat">Envoyer</button>
                        <a class="btn-flat" href="{{ path('teckmeb_mark_edit' , {'id' : control.id}) }}">Retour</a>
                    </div>
                </div>
            </form>
        </main>
    {% endblock %}
