{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Notes
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Mark/mark_view.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    {% if noteView.groupeList | length > 0 %}
    {{ include("TeckmebDashboardBundle::navbarExtend.html.twig") }}
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            {% for groupeObj in noteView.groupeList %}
                <li class="tab">
                    <a {% if loop.last %}class="active"{% endif %} href="#MarkGroup{{ groupeObj.groupe.id }}">
                        {{ groupeObj }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </nav>
    <main class="container">
        {% for groupeObj in noteView.groupeList %}
            {{ include("@TeckmebMark/Page-Content/markSemestreView.html.twig" , {"groupeObj" : groupeObj}) }}
        {% endfor %}
    </main>
    {% else %}

        {{ parent() }}
        <main class="container">
            <h4 class="header center-align">Notes</h4>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Vos notes</span>
                    <p class="center-align">Vous n'appartenez pas encore à un groupe</p>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}
