{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% if formQuestion is defined %}
    {% form_theme formQuestion "TeckmebAdministrationBundle:Form:fields3.html.twig" %}
{% endif %}
{% block title %}
    Questions
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Question/questionStudent.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align">
            <a href="{{ path('teckmeb_question_homepage') }}">
                <i class="material-icons">arrow_back</i>
            </a>Questions</h4>
        <div class="card">
            {{ form_start(formQuestion) }}
            {{ form_errors(formQuestion) }}
            <div class="card-content">
                <span class="card-title">Poser une question</span>
                <div class="row">
                    <div class="input-field">
                        {{ form_widget(formQuestion.teacher) }}
                        {{ form_label(formQuestion.teacher, "Choisissez un professeur") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        {{ form_widget(formQuestion.title) }}
                        {{ form_label(formQuestion.title, "Titre") }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        {{ form_widget(formQuestion.content) }}
                        {{ form_label(formQuestion.content, "Contenu") }}
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn-flat waves-effect">Valider</button>
                <a class="btn-flat" href="{{ path('teckmeb_question_homepage') }}">Retour</a>
            </div>
            {{ form_rest(formQuestion) }}
            {{ form_end(formQuestion) }}
        </div>
        </div>
    </main>
{% endblock %}
