{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% if formQuestion is defined %}
    {% form_theme formQuestion "TeckmebAdministrationBundle:Form:fields3.html.twig" %}
{% endif %}
{% block title %}
    Questions
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Question/questionStudent.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    {% block body %}
        {{ parent() }}
        <main class="container">
            <h4 class="header center-align">Questions</h4>
            {% if is_granted('ROLE_ETUDIANT') %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Vos questions</span>
                        <span class="card-title right-align">
                            <a class="waves-effect waves-light btn modal-trigger"
                               href="{{ path("teckmeb_question_create") }}">
                                Poser une question
                            </a>
                        </span>
                        {% if listQuestion | length > 0 %}
                        <table class="responsive-table striped centered">
                            <thead>
                            <th>Intitulé</th>
                            <th>Professeur</th>
                            </thead>
                            <tbody>
                            {% for question in listQuestion %}
                                <tr>
                                    <td>
                                        <a class="" href="{{ path('teckmeb_question_view', {'id' : question.id}) }}">
                                            {{ question.title }}</a>
                                    </td>
                                    <td>
                                        <a class="" href="{{ path('teckmeb_question_view', {'id' : question.id}) }}">
                                            {{ question.teacher.user.name|title }}
                                            {{ question.teacher.user.surname|title }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Vous ne possédez pas de questions</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p class="flow-text center-align">Vous ne possédez pas de question</p>
                        {% endif %}
                    </div>
                </div>
            {% elseif is_granted('ROLE_TEACHER') %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Vos questions</span>
                        {% if listQuestion | length > 0 %}
                        <table class="responsive-table striped centered">
                            <thead>
                            <th>Intitulé</th>
                            <th>Etudiant</th>
                            <th>Groupe</th>
                            <th>
                                <a class=" tooltipped" data-position="top"
                                   data-tooltip="Cliquez pour changer la visibilité">Visibilité</a>
                            </th>
                            <th>Supprimer</th>
                            </thead>
                            <tbody>
                            {% for question in listQuestion %}
                                <tr>
                                    <td>
                                        <a class="" href="{{ path('teckmeb_question_view', {'id' : question.id}) }}">
                                            {{ question.title }}</a>
                                    </td>
                                    <td>
                                        <a class="" href="{{ path('teckmeb_question_view', {'id' : question.id}) }}">
                                            {{ question.student.user.name|title }}
                                            {{ question.student.user.surname|title }}</a>
                                    </td>
                                    <td>
                                        <a class="" href="{{ path('teckmeb_question_view', {'id' : question.id}) }}">
                                            {{ question.groupe }}</a>
                                    </td>
                                    <td>
                                        <a data-target="visible{{ question.id }}" class=" tooltipped modal-trigger"
                                           data-position="top"
                                           data-tooltip="Rendre {% if question.public %}privée{% else %}publique{% endif %}"
                                           href="{{ path('teckmeb_question_view', {'id' : question.id}) }}">
                                            {% if question.public %}Publique{% else %}Privée{% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <a class="modal-trigger" href="#delete{{ question.id }}">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                                <div class="modal" id="delete{{ question.id }}">
                                    <div class="modal-content">
                                        <h4>Voulez-vous supprimer cette question ?</h4>
                                        <p>Titre :
                                            {{ question.title }}</p>
                                        <p>Étudiant :
                                            {{ question.student.user.name|title }}
                                            {{ question.student.user.surname|title }}</p>
                                        <p>Groupe :
                                            {{ question.groupe }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('teckmeb_question_delete', {'id' : question.id}) }}"
                                           class="modal-close waves-effect btn-flat">Oui</a>
                                        <a class="modal-close waves-effect btn-flat">Non</a>
                                    </div>
                                </div>
                                <div class="modal" id="visible{{ question.id }}">
                                    <div class="modal-content">
                                        <h4>Voulez-vous vraiment rendre cette question
                                            {% if question.public %}privée{% else %}publique{% endif %}
                                            ?</h4>
                                        <p>Titre :
                                            {{ question.title }}</p>
                                        <p>Étudiant :
                                            {{ question.student.user.name|title }}
                                            {{ question.student.user.surname|title }}</p>
                                        <p>Groupe :
                                            {{ question.groupe }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('teckmeb_question_modify', {'id' : question.id}) }}"
                                           class="modal-close waves-effect btn-flat  ">Oui</a>
                                        <a class="modal-close waves-effect btn-flat  ">Non</a>
                                    </div>
                                </div>
                            {% else %}
                                <tr>
                                    <td colspan="5">Vous n'avez pas de questions</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p class="flow-text center-align">Vous ne possédez pas de question</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </main>
    {% endblock %}
