{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Suivi - {{ Student.user.name|title }} {{ Student.user.surname|title }}
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Suivi/view.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Suivi/view.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <h4 class="header center-align">
            <a href="{{ path('teckmeb_suivi_homepage') }}">
                <i class="material-icons ">arrow_back</i>
            </a>Profil de : {{ Student.user.name|title }} {{ Student.user.surname|title }}</h4>

        {% if suiviDTO.groupeList | length > 0 %}
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            {% for groupe in suiviDTO.groupeList %}
                <li class="tab"><a href="#{{ loop.index }}">{{ groupe.groupe.semestre }}</a></li>
            {% endfor %}
        </ul>

        {% for groupe in suiviDTO.groupeList %}
            <div id="{{ loop.index }}" class="col s12">
                <h4 class="header center-align">{{ groupe.groupe }} {{ groupe.groupe.semestre }}</h4>
                <div class="flow-text moyenne-groupe">
                    <div>Moyenne de l'élève : {%  if groupe.moyenne.moyenneEleve is not null %}{{ groupe.moyenne.moyenneEleve|round(2, 'common') }}<small>/20</small>{% else %}Pas de note{% endif %}</div>
                    <div>Moyenne du groupe : {%  if groupe.moyenne.moyenneGroupe is not null %}{{ groupe.moyenne.moyenneGroupe|round(2, 'common') }}<small>/20</small>{% else %}Pas de note{% endif %}</div>
                </div>
                {{ include("@TeckmebSuivi/Suivi-Content/absence.html.twig" , {"absence" : groupe.absence}) }}
                {% for ue in groupe.ueList %}
                    {{ include("@TeckmebSuivi/Suivi-Content/ue.html.twig" , {"ue" : ue}) }}
                {% endfor %}
            </div>
        {% endfor %}
        {% else %}
            <p class="flow-text center-align">Aucun semestre n'a été réalisé par cet étudiant</p>
        {% endif %}
    </main>
{% endblock %}
